#contact {
  width: 100vw;
  background-color: #3a3a3a;
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
}

#letterImage {
  max-width: 500px;
  height: 300px;
}

#form {
  color: #ffffff;
}
