* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Preahvihear&display=swap");

$fz: 1rem;
$font1: Preahvihear;
$font2: Caveat;
$color: #da7cbd98;
