* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --fz: 1.2rem;
  --ff: Heebo;
  --color: #da7cbd98;
}

.myPhoto {
  max-width: 40px;
  border-radius: 50%;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #faedf5;
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  height: 70px;
  padding: 0.5rem;
  z-index: 99999999999;
}

header a {
  text-decoration: none;
  color: black;
  font-family: var(--ff);
  font-size: var(--fz);
  transition: 0.3s linear;
}
nav {
  display: flex;
}

nav a:hover {
  color: var(--color);
}

nav ul li {
  width: 150px;
  height: 2.5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
}

.logo {
  max-width: 20vw;
  display: flex;
  align-items: center;
}

.logo a {
  font-family: "Caveat", cursive;
  font-size: var(--fz);
}

nav {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 9vh;
}

.hamburger {
  color: #000;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  display: none;
  cursor: pointer;
  padding: 1rem;
}

#Main {
  background-image: linear-gradient(
      to bottom,
      var(--color),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/backImage.jpg");
  max-width: 100vw;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  max-width: 80vw;
  font-family: var(--ff);
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 2px 20px #00000033;
}

#About {
  max-width: 100vw;
  min-height: 50vw;
}

#aBitAboutMe {
  padding: 1rem;
  font-family: var(--ff);
  font-size: var(--fz);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textOnPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff);
}

#myImage {
  max-width: 30vw;
  border-radius: 25%;
  filter: grayscale(100%);
  margin-bottom: 2rem;
  transition: 0.2s linear;
}

#myImage:hover {
  filter: none;
}

#Works {
  padding: 5rem;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  font-family: var(--ff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Works section {
  text-align: center;
}

.card {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}

#Works .btn-primary,
#contact .btn-primary,
#About .btn-primary {
  background-color: var(--color);
  border: none;
  color: #000;
  border-radius: 25px;
  font-size: var(--fz);
  font-family: var(--ff);
}
#Works .btn-primary:hover,
#contact .btn-primary:hover,
#About .btn-primary:hover {
  background-color: #da7cbcf0;
}

#contact {
  background-color: #3a3a3a;
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
}

#letterImage {
  max-width: 500px;
  height: 300px;
}

#form {
  color: #ffffff;
}

#icons {
  min-height: 10vh;
  padding: 2rem;
  background-color: var(--color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#icons div {
  width: 200px;
}

#copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  background-color: black;
}

@media (max-width: 700px) {
  header {
    height: 80px;
    align-items: center;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .hamburger {
    width: 100%;
    height: 100%;
    display: block;
    color: #000;
    text-align: right;
  }

  nav .hamburger + ul {
    flex-direction: column;
    display: none;
  }

  nav :focus.hamburger + ul {
    display: block;
  }
  nav ul li {
    text-align: center;
    width: 100vw;
    height: 10vh;
    background-color: #ffa3e2;
    border-bottom: dashed 1px #7777778f;
  }
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
  }

  .myPhoto {
    max-width: 10vw;
  }

  .logo #name {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #letterImage {
    max-width: 150px;
    height: 150px;
  }
}
