* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #020253;
  --light-blue: #e5eeff;
  --black: #2c2c2c;
  --gray: #707070;
  --light-gray: #00000029;
  --white: #ffffff;
  --font-family: "Heebo", sans-serif;
}

.container {
}
.img-box {
  width: 50vw;
  height: 100vh;
}
.img-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.form-box {
}
.form-box h1 {
}
.form-box p {
}
.input-text {
}
.btn {
}
