* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --fz: 1.2rem;
  --ff: Heebo;
  --color: rgba(218, 124, 189, 0.596);
}

.myPhoto {
  max-width: 4vw;
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: space-evenly;
  min-height: 9vh;
}

header a {
  text-decoration: none;
  color: black;
  font-family: var(--ff);
  font-size: var(--fz);
  transition: 0.3s linear;
}

nav a:hover {
  color: var(--color);
}

nav ul li {
  width: 150px;
  height: 2.5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
}

.logo {
  max-width: 20vw;
  display: flex;
  align-items: center;
}

.logo a {
  font-family: "Caveat", cursive;
  font-size: var(--fz);
}

nav {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 9vh;
}

.hamburger {
  color: #000;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  display: none;
}

#Main {
  background-image: linear-gradient(
      to bottom,
      var(--color),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/backImage.jpg");
  max-width: 100vw;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer {
  max-width: 80vw;
  font-family: var(--ff);
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border-bottom: 1px solid #000; */
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

#About {
  max-width: 100vw;
  min-height: 50vw;
}

#aBitAboutMe {
  /* border: 1px solid rgb(255, 0, 0); */
  padding: 1rem;
  font-family: var(--ff);
  font-size: var(--fz);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textOnPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff);
}

#myImage {
  max-width: 30vw;
  border-radius: 25%;
  filter: grayscale(100%);
  margin-bottom: 2rem;
  transition: 0.3s linear;
}

#myImage:hover {
  filter: none;
}

#Works {
  padding: 5rem;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  font-family: var(--ff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Works section {
  text-align: center;
}

.card {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}

#Works .btn-primary,
#contact .btn-primary,
#About .btn-primary {
  background-color: var(--color);
  border-color: var(--color);
  color: #000;
  border-radius: 25px;
  font-size: var(--fz);
  font-family: var(--ff);
}

#contact {
  background-color: #3a3a3a;
  min-height: 60vh;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

#letterImage {
  /* border: 1px solid #ffffff; */
  max-width: 50vw;
}

#form {
  color: #ffffff;
}

#icons {
  min-height: 10vh;
  padding: 2rem;
  background-color: var(--color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#icons div {
  width: 200px;
}

#copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #ffffff;
  background-color: black;
}

@media (max-width: 700px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  .hamburger {
    width: 100%;
    display: block;
    color: #000;
    text-align: right;
  }

  nav .hamburger + ul {
    flex-direction: column;
    display: none;
  }

  nav :active.hamburger + ul {
    display: block;
  }
  nav ul li {
    text-align: center;

    width: 100vw;
    height: 14vh;
    background-image: linear-gradient(
        to bottom,
        var(--color),
        rgba(255, 255, 255, 0.5)
      ),
      url("./images/backImage.jpg");
    border-bottom: inset 1px #3a3a3a8f;
  }
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
  }

  header {
    justify-content: space-between;
  }

  .myPhoto {
    max-width: 10vw;
  }

  .logo #name {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #letterImage {
    max-width: 30%;
  }
}
